@import 'tailwindcss';

/* Design Tokens */
@import './tokens/colors.css';
@import './tokens/spacing.css';
@import './tokens/typography.css';
@import './tokens/effects.css';
@import './tokens/breakpoints.css';
@import './tokens/opacity.css';

/* Utilities */
@import './utilities/spacing-utils.css';
@import './utilities/color-utils.css';
@import './utilities/component-utils.css';
@import './utilities/typography-utils.css';
@import './utilities/opacity-utils.css';

/* Base Styles */
@import './base.css';
